<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-158800940-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-158800940-1');
</script>

<!-- Setup Google Console -->
<meta name="google-site-verification" content="jGIAB58xssv9RWaVZ4jpZ34e6YhD4KRhM65vHJqNEMA" />

<!-- You can set your favicon here -->
{% if site.favicon %}
  <link rel="shortcut icon" type="image/x-icon" href="{{ '/assets/favicon.ico' | relative_url }}">
{% endif %}

<!-- end custom head snippets -->