<div align="center" class="link-wrapper-mobile" id="link-wrapper-mobile">
    <style scoped>
        p.other_info a {
          color:var(--clr-h1-and-bold);
          text-decoration:none;
        }

        p.other_info a:hover, a:focus {
          /* color: var(--clr-a-text-hvr); */
          color:#f92672;
        }

        p.navigator a {
          color:var(--clr-h1-and-bold);
          text-decoration:none;
        }

        p.navigator a:hover, a:focus {
          /* color: var(--clr-a-text-hvr); */
          color:#f92672;
        }
    </style>
    <p class="other_info" style="text-align: center;margin-top: 1.0em;margin-bottom: 0.2em;">
      {%- for platform in site.sidebar %}
      <nobr><a href="{{ platform.link }}" rel="me">{{ platform.icon }}&nbsp;{{ platform.name }}</a>
      {%- unless forloop.last %}<span style="margin-left: 6px;"></span>{% endunless %}</nobr>
      {%- endfor %}
    </p>
    <p class="navigator" style="text-align: center;" align="center">
      <a href="{{site.url}}"><img src={{site.home_icon}} style="vertical-align:-0.25em;width:1.2em"/>&nbsp;Blog Home</a>&nbsp;
      <a href="{{site.url}}/publications"><img src={{site.pub_icon}} style="vertical-align:-0.25em;width:1.2em"/>&nbsp;Publications</a>&nbsp;
      <a href="{{site.url}}/projects"><img src={{site.proj_icon}} style="vertical-align:-0.25em;width:1.2em"/>&nbsp;Projects</a>&nbsp;
      <a href="{{site.url}}/posts"><img src={{site.post_icon}} style="vertical-align:-0.25em;width:1.2em"/>&nbsp;Posts</a>
    </p>
    <p style="text-align: center; margin-top: -0.2em;" align="center">
      <a href="https://engcang.github.io/AllowanceRobotics-Gazeboyz" style="text-align: center;" align="center"><h3 style="text-align: center;" align="center">★Business and Freelancing★ (Click to move)</h3></a>
    </p>
</div>
