<div class="link-wrapper">
    <style scoped>
      ul.link a {
        color:var(--clr-h1-and-bold);
        text-decoration:none;
      }

      ul.link a:hover, a:focus {
        color: var(--clr-a-text-hvr);
      }
    </style>
    <ul class="link">
      {%- for platform in site.sidebar %}
      <!-- <li><a href="{{ platform.link }}"><i class="{{ platform.icon }}"></i> {{ platform.name }}</a></li> -->
       <li><a href="{{ platform.link }}">{{ platform.icon }}&nbsp;{{ platform.name }}</a></li>
      {%- endfor %}
    </ul>

    <br>
    <p>
      <h2>Navigator</h2>
      <a href="https://engcang.github.io/"><img src={{site.home_icon}} style="vertical-align:-0.25em;width:1.2em"/>&nbsp;Home</a><br>
      <a href="https://engcang.github.io/publications"><img src={{site.pub_icon}} style="vertical-align:-0.25em;width:1.2em"/>&nbsp;Publications</a><br>
      <a href="https://engcang.github.io/projects"><img src={{site.proj_icon}} style="vertical-align:-0.25em;width:1.2em"/>&nbsp;Projects</a><br>
      <a href="https://engcang.github.io/posts"><img src={{site.post_icon}} style="vertical-align:-0.25em;width:1.2em"/>&nbsp;Posts</a>
    </p>
</div>