{% case site.color-scheme %}
  {% when "", nil, false, 0, empty %}
    {% assign ColorScheme = "auto" %}
  {% else %}
    {% assign ColorScheme = site.color-scheme %}
{% endcase %}

<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

{% seo %}
    <link rel="stylesheet" href="{{ "/assets/css/colors-ColorScheme.css?v=" | replace: "ColorScheme", ColorScheme | append: site.github.build_revision | relative_url }}">
    <link rel="stylesheet" href="{{ "/assets/css/style.css?v=" | append: site.github.build_revision | relative_url }}">

    <link rel="preload" href="{{site.logo | relative_url}}" as="image">
    <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
    <![endif]-->
    {% include head-custom.html %}
  </head>
  <body>
    <div class="wrapper">
      <div class="sidebar">
        <header>
          {% if site.logo %}
            <img class="img-circle" src="{{site.logo | relative_url}}" alt="Logo" style="display: block; margin-left: auto; margin-right: auto;">
          {% endif %}

          <h1 align="center" style="margin-bottom: 0.3em; margin-top:0.4em;"><a href="{{ "/" | absolute_url }}">{{ site.title | default: site.github.repository_name }}</a></h1>

          <p align="center" style="margin-bottom: 0.2em; margin-top:0.2em;">{{ site.description | default: site.github.project_tagline }}</p>

          <p align="center" class="addr" style="font-size:0.9em; margin-top:0.2em; margin-bottom:0.9em;"><i class="fa-regular fa-envelope"></i>&nbsp;<a href="mailto:{{site.email}}">{{site.email_icon}}&nbsp;{{ site.email}}</a></p>
          {% include sidebar.html %}
        </header>

        {% include links-mobile.html %}
      </div>

      <section>
      {{ content }}
      </section>
    </div>
    
    <div id="linkPreviewPopup" class="link-preview-popup" style="display: none;"></div>
    <script src="{{ "/assets/js/scale.fix.js" | relative_url }}"></script>
    <script src="{{ "/assets/js/link-preview.js" | relative_url }}"></script>
    <script src="{{ "/assets/js/internal_link_style.js" | relative_url }}"></script>
  </body>
</html>